.content{
  height: 300px;
  width: 300px;
}

.darkmode{
  border: 1px solid white;
  background-color: black;
  color: whitesmoke;
  
}

.lightmode{
  border: 1px solid royalblue;
  background-color: white;
  color: black;
  
}